<!DOCTYPE html>
<!--[if IE 7]>     <html class="ie ie7 lt-ie8 lt-ie9" dir="ltr"
lang="en-GB"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lt-ie9" dir="ltr" lang="en-GB">
<![endif]-->
<!--[if IE 9]>     <html class="ie ie9" dir="ltr" lang="en-GB"> <![endif]-->
<!--[if gt IE 9]>  <html dir="ltr" lang="en-GB"> <![endif]-->
<!--[if !IE]><!--> <html dir="ltr" lang="en-GB"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="An interactive map of Great Britain's Public Toilets">
    <link rel="stylesheet" href="/gbptm.css">
    <link rel="icon" href="/favico.png" type="image/png" />
    <title>The Great British Public Toilet Map {{#block 'title'}}{{/block}}</title>
    <!--[if lt IE 9]>
        <script src="/shims/shims.js"></script>
    <![endif]-->
</head>
<html>
    <body class="{{#block 'bodyclass'}}{{/block}}">
        <div>
            <div class="list-container">
                <header role="banner">
                    <h1><a href="/" aria-label="The Great British Public Toilet Map Home Page"><img src="/images/logo.png" alt=""> <span class="visually-hidden">The Great British Public Toilet Map</span></a></h1>
                    {{#block 'promo'}}
                    <a class="button-shaped donate" target="_blank" href="http://web.rca.ac.uk/greatbritishpublictoiletmap/">Give a pound to spend a penny!</a>
                    {{/block}}
                    
                </header>
                <main id="main" role="main">
                    {{>flash}}
                    {{{body}}}
                </main>
                <footer role="contentinfo">
                    <div>
                       <ul>
                           <li><a href="/preferences">my toilet preferences</a></li>
                           <li><a href="/about">about this project</a></li>
                       </ul>
                    </div>
                </footer>
            </div>
            <aside role="complementary">
                <div class="map macro" 
                    data-init="gbptm-multi_loo_map" 
                    {{#unless loo}}data-crosshairs{{/unless}} 
                    {{#each macromap}}
                        data-config_{{@key}}="{{json this}}" 
                    {{/each}}
                    ></div>
            </aside>
        </div>
        <script src="/gbptm.js?version={{config.app.version}}"></script>
        <script>
            //var gbptm = require('gbptm');
            gbptm.configure({
                api: '{{ config.api.root }}',
                baseURL: '{{ config.app.baseURL }}',
                map: {{json config.map }} 
            });
            gbptm.scan();
            {{#block "gbptm_actions"}}{{/block}}
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-52513593-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>