<ol id="loolist">
    {{#each loos}}
    <li aria-label="{{preferred this ../prefs.loo_preferences}}">
        <a href="/loos/{{_id}}" tabindex="-1" aria-hidden>
            <div class="map micro" 
            data-map_ident="{{_id}}:{{plusone @index }}"
            data-init="gbptm-mini_map"
            data-config_zoom="17"
            data-config_center="{{geo2leaflet geometry.coordinates}}">
            </div>
        </a>
        <div class="visually-hidden">
            <h3>Preferences</h3>
            <dl>
                {{#pref_icons this ../prefs.loo_preferences}}
                    <dt>{{pref}}</dt>
                    <dd>{{status}}</dd>
                {{/pref_icons}}
            </dl>
        </div>
        <a href="/loos/{{_id}}">
            {{#pref_icons this ../prefs.loo_preferences}}
                <img width="25" height="25" src="/images/pref-{{pref}}-{{status}}.png" alt=""/> 
            {{/pref_icons}} more info&hellip;</a>
    </li>
    {{/each}}
</ol>
