{{#unless prefs.nohelp.preferences_intro}}
<div class="intro">
    <h2>Preferences</h2>
    <p>Highlight toilet features that matter to you. Toilets with these features will be indicated for you. Ones lacking crucial features will come up red.</p>
    <button type="button" data-init="gbptm-hide_help" data-config_target=".intro" data-config_setpref="nohelp.preferences_intro" aria-label="close">&#x2716;</button>
</div>
{{/unless}}
<p><a href="/"><span aria-hidden>&#x2190; </span> nearby toilets</a></p>
<h2>My Toilet Preferences</h2>
<form>
	<div class="checkboxes">
		<label>
			<input type="checkbox" name="free" data-init="gbptm-prefbox" data-config_pref="loo_preferences.free" {{checked true prefs.loo_preferences.free}}/> 
			<span><img src="/images/pref-free.png" alt=""> Free</span>
		</label>
		<label>
			<input type="checkbox" name="accessible" data-init="gbptm-prefbox" data-config_pref="loo_preferences.accessible" {{checked true prefs.loo_preferences.accessible}}/> 
			<span><img src="/images/pref-accessible.png" alt=""> Accessible</span>
		</label>
		<label>
			<input type="checkbox" name="open" data-init="gbptm-prefbox" data-config_pref="loo_preferences.open" {{checked true prefs.loo_preferences.open}}/> 
			<span><img src="/images/pref-open.png" alt=""> Open Now</span>
		</label>
		<label>
			<input type="checkbox" name="male" data-init="gbptm-prefbox" data-config_pref="loo_preferences.male" {{checked true prefs.loo_preferences.male}}/> 
			<span><img src="/images/pref-male.png" alt=""> Male</span>
		</label>
		<label>
			<input type="checkbox" name="female" data-init="gbptm-prefbox" data-config_pref="loo_preferences.female" {{checked true prefs.loo_preferences.female}}/>
			<span><img src="/images/pref-female.png" alt=""> Female</span>
		</label>
		<label>
			<input type="checkbox" name="changingplaces" data-init="gbptm-prefbox" data-config_pref="loo_preferences.babychanging" {{checked true prefs.loo_preferences.babychanging}}/> 
			<span><img src="/images/pref-babychanging.png" alt=""> Baby Changing</span>
		</label>
	</div>
	<a href="{{backlink}}" aria-label="save and return to the previous screen" class="button-shaped">Save</a>
</form>
