{{#contentFor 'title'}}| Sign In{{/contentFor}}
<h2>Hello! What's your name?</h2>
<p>Before you can contribute data we'll need to know who to thank.</p>
<p>We'll only store the name you give us against the data you contribute.</p>
<p>Use one of the services below to let us know you're real.</p>
<p><a class="button-shaped facebook" href="{{config.api.root}}/auth/facebook?redirect={{redirect}}">Facebook</a></p>
<p><a class="button-shaped twitter" href="{{config.api.root}}/auth/twitter?redirect={{redirect}}">Twitter</a></p>
<p><a class="button-shaped osm" href="{{config.api.root}}/auth/openstreetmap?redirect={{redirect}}">OpenStreetMap</a></p>
<p><a class="button-shaped github" href="{{config.api.root}}/auth/github?redirect={{redirect}}">Github</a></p>

{{#if localusers }}
<p><a class="button-shaped" href="{{config.api.root}}/auth/admin?redirect={{redirect}}">Local User</a></p>
{{/if}}

